@page
@model UserConfirmationModel
@{
    ViewData["Title"] = "User confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please go to your email inbox to verify your account. Please <a asp-page="./Login">click here to log in</a>.
</p>
