@{
    ViewBag.Title = "About Big O algorithm";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<a asp-controller="Home" asp-action="RenderGraph" class="btn btn-primary">
    convert home page to pdf
</a>